<div class="row">
  <div class="col-sm-12 col-lg-8 col-lg-offset-2">
    <div class="form-group">
      <label for="inputName">Account Name</label>
      <input type="text" class="form-control" #accountName id="inputName">
    </div>
    <div class="form-group">
      <select class="form-control" #status>
        <option value="active">Active</option>
        <option value="inactive">Inactive</option>
        <option value="hidden">Hidden</option>
      </select>
    </div>
    <button
      class="btn btn-primary"
      (click) = "onCreateAccount(accountName.value, status.value)">Add Account</button>
  </div>
</div>
