<div class="card">
  <h5 class="card-header">{{ account.name }}</h5>
  <div class="card-body">
    <h5 class="card-title">This account is {{ account.status }}</h5>
    <div class="col-xs-12 col-md-8 col-md-offset-2">
      <button class="btn btn-success" (click)="onSetTo('active')">Set to 'active'</button>
      <button class="btn btn-danger" (click)="onSetTo('inactive')">Set to 'inactive'</button>
      <button class="btn btn-outline-dark" (click)="onSetTo('unknown')">Set to 'unknown'</button>
    </div>
  </div>
</div>
